* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

:root {
  --color-background: #007FF4;
  --color-white: #FFFFFF;
  --color-green: #00B135;
  --color-blue: #0071F9;
  --color-orange: #F89C1C;

  --color-gray-1: #FFFFFF26;
  --color-gray-2: #EBEDF4;
  --color-gray-3: #E5E7EB;
  --color-gray-4: #F9FAFB;
  --color-gray-5: #9CA3AF;
  --color-gray-6: #F5F6FA;

  --color-text-1: #23242D;
  --color-text-2: #6B7280;

  --space: 8px;
  --space-4: calc(var(--space) / 2);
  --space-10: calc(var(--space) * 1.25);
  --space-12: calc(var(--space) * 1.5);
  --space-16: calc(var(--space) * 2);
  --space-20: calc(var(--space) * 2.5);
  --space-24: calc(var(--space) * 3);
  --space-32: calc(var(--space) * 4);
  --space-40: calc(var(--space) * 5);
  --space-48: calc(var(--space) * 6);
  --space-56: calc(var(--space) * 7);
  --space-64: calc(var(--space) * 8);
  --space-72: calc(var(--space) * 9);

  --font-size-xl: calc(var(--space) * 3);
  --font-size-lg: calc(var(--space) * 2.5);
  --font-size-md: calc(var(--space) * 2);
  --font-size-sm: calc(var(--space) * 1.75);
  --font-size-xs: calc(var(--space) * 1.5);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi: 600;
  --font-weight-bold: 700;

  --line-height-xl: 32px;
  --line-height-lg: 28px;
  --line-height-md: 24px;
  --line-height-sm: 20px;
  --line-height-xs: 16px;

  --letter-spacing: 0.08px;

  --border-radius-round: 50%;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
}